script/node_modules
neuroNet/node_modules
neuroNet/data_samples
neuroNet/trainData.json
neuroNet/net.json
deviceApp/temp/Middlewares
deviceApp/temp/Drivers
deviceApp/temp/Debug
deviceApp/temp/Utilities